<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
                <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
        <!-- <link href="/css/styleNAVFOOTER.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styleindex.css">  -->
    
        <link rel="stylesheet" href="/src/main/resources/static/css/styleproveedorfav.css">
        <link rel="stylesheet" href="/src/main/resources/static/css/styleNAVFOOTER.css"> 
       
    
    </head>

    <body>
    
        <header class="encabezado">
            <nav>
                   <div>
                       <img src="/src/main/resources/static/img/logotipo.png"></div>
                   
                   <ul>
                       <li><a href="/inicio">INICIO</a></li>                       
                   </ul>
               </nav> 
           </header> 


    <main class="main">
        <fieldset class="marcoform">
        <div id="lista-de-proveedores-favoritos" class="">
            
            <div th:if="${provfav.size() != 0 && provfav != null }"
                 th:each="favorito : ${provfav}"
                 th:object="${favorito}"
                 th:each="proveedor : ${favorito.favoritosProveedores}"
                 th:object="${proveedor}">
                <h3 th:text="*{nombre}"></h3>
                <h3 th:text="*{direccion}"></h3>
                <h3 th:text="*{telefono}"></h3>
            </div>
        </div>
        </fieldset>
    </main>
    <footer class="footer">
        <div>
            <p align="center">Copyright HUEVO FRITO</p>
        </div>
    </footer>
    <div th:replace="fragmentos/libs :: #libs"></div>
</body>
</html>
