<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/head :: head"></head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#">
                    <img src="https://th.bing.com/th/id/R.cf61de8b9be1b46b167f19ff97c3a843?rik=wUk02rh2gje3wA&pid=ImgRaw&r=0"
                         width="80" height="80"></a>
                <nav class="navigation">
                    <ul>
                        <li><a href="/proveedor">Proveedores</a></li>
                        <li><a href="/receta">Recetas</a></li>
                        <li><a href="/favoritos">Favoritos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="lista-de-recetas-favoritas" class="">
            <h3>Recetas favoritas </h3>
            <div th:if="${recetasfav.size() != 0 && recetasfav != null }"
                 th:each="favorito : ${recetasfav}"
                 th:object="${favorito}"
                 th:each="receta : ${favorito.favoritosRecetas}"
                 th:object="${receta}">
                <h3 th:text="*{nombre}"></h3>
                <h3 th:text="*{descripcion}"></h3>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p>Pagina diseñada por Huevo</p>
            </div>
        </footer>
    </body>
</html>
