<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styleNAVFOOTER.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylenuevo.css">

    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/styleNAVFOOTER.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/stylenuevo.css"> -->

</head>

<body>

    <header class="encabezado">
        <nav>
            <div>
                <img src="/img/logotipo.png">
            </div>

            <ul>
                <li><a href="/panel">INICIO</a></li>
            </ul>
        </nav>
    </header>


    <main class="main">
        <fieldset class="marcoform">
            <h3>RECETAS FAVORITAS</h3>
            <div id="lista-de-recetas-favoritas">
                <div th:if="${recetasfav.size() != 0 && recetasfav != null }" th:each="favorito : ${recetasfav}"
                    th:object="${favorito}" th:each="receta : ${favorito.favoritosRecetas}" th:object="${receta}">
                    <h4 th:text="*{nombre}">Nombre:</h4>
                    <h4 th:text="*{descripcion}">Descripción:</h4>
                </div>
            </div>
        </fieldset>
    </main>


    <footer class="footer">
        <div>
            <p align="center">Copyright HUEVO FRITO</p>
        </div>
    </footer>
    <div th:replace="fragmentos/libs :: #libs"></div>
</body>

</html>