<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

        <head id="head" th:fragment="head">
            <meta charset="UTF-8">
            <link href="/css/styleindex.css" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="/vendors/bootstrap5/css/bootstrap.css">
            <link rel="stylesheet" href="/vendors/bootstrap5/css/bootstrap.min.css">
            <link rel="stylesheet" href="/vendors/bootstrap5/css/bootstrap-grid.css">
            <!--
            Custom
            -->
            <link rel="stylesheet" href="/css/css.css">
            
        </head>
</html>