<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!--CAMBIAR ESTA NAVBAR-->

    <body>

        <nav th:fragment="Index" class="navbar navbar-light" style="background-color: #f99a42;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://cdn-icons-png.flaticon.com/512/817/817291.png" alt="50" width="38" height="25" class="d-inline-block align-text-top"> 
                        HUEVO FRITO
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/registro">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav th:fragment="Panel" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Recetario</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav justify-content-end">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Proveedor
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/proveedor">Proveedores</a></li>
                                <li><a class="dropdown-item" href="/receta">Recetas</a></li>
                                <li><a class="dropdown-item" href="/favoritos">Favoritos</a></li>

                            </ul>
                        </li> 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ingredientes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/favoritos">Favoritos</a></li>
                                <li><a class="dropdown-item" href="/">Agregar a favoritos </a></li>
                                <li><hr class="dropdown-divider"></li>

                            </ul>
                        </li> 

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Recetas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/misrecetas">Mis recetas</a></li>
                                <li><a class="dropdown-item" href="#">Explorar</a></li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li> 


                        <li class="nav-item">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                               <p align="right"> <button class="btn btn-primary me-md-2" type="/logout">Logout</button>
                               <!--<a class="nav-link active" aria-current="page" href="/login">Logout</a> <!-- comment -->
                            </div>

                        </li> 
                    </ul>
                </div>
            </div>
        </nav>
        
        
        
    </body>
</html>
