<!DOCTYPE html>
<html lang="es">
    <head>
        <title>RECETARIO</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
      <link href="/css/styleinicio.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#">
                <img src="https://th.bing.com/th/id/R.cf61de8b9be1b46b167f19ff97c3a843?rik=wUk02rh2gje3wA&pid=ImgRaw&r=0" width="80" height= "80"></a>
                 <nav class="navigation">
                    <ul>
                        <li><a href="/proveedor">Proveedores</a></li>
                        <li><a href="/receta">Recetas</a></li>
                        <li><a  href="/favoritos">Favoritos</a></li>
                    </ul>
                 </nav>
            </div>

        </header>

        <div class="container">


        </div>

        <footer class="footer">
            <div class="container">
                <p>Pagina diseñada por Huevo</p>
            </div>

        </footer>

    </body>


</html>