<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styleNAVFOOTER.css">
    <link rel="stylesheet" href="/css/styleinicio.css">
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/stylepanel.css">
     <link rel="stylesheet" href="/src/main/resources/static/css/styleNAVFOOTER.css"> -->

</head>

<body>

<!-- CABECERA NAV BAR-->
<header class="encabezado">
    <nav>
        
        <div><img src="/img/logotipo.png" alt=""></div> 

        <ul>
            <li>
                <a href="/receta/lista">RECETAS</a>
                <ul><!--RUTAS SIN HTML PARA NETBEANS-->
                    <li><a href="/receta/nuevo">Agregar</a></li>
                    <li><a href="/receta/lista">Ver Lista</a></li>
                    <li><a href="/favoritos/recetafav">Favoritos</a></li>
                </ul>
            </li>
            <li>
                <a href="/proveedor/lista">PROVEEDORES</a>
                <ul> 
                    <li><a href="/proveedor/nuevo">Agregar</a></li>
                    <li><a href="/proveedor/lista">Ver Lista</a></li>
                    <li><a href="/favoritos/proveedorfav">Favoritos</a></li>

                    <li>
                        <a href="/producto/lista">PRODUCTOS</a>
                        <ul>
                            <li><a href="/producto/nuevo">Agregar</a></li>
                            <li><a href="/producto/lista">Ver Lista</a></li>
                         </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/producto/lista">MI ALACENA</a>
                <ul>
                    <li><a href="/producto/lista">VER STOCK</a></li>
                    <li><a href="/listacompra/lista">Compras</a></li>
                </ul>
            </li>
            <li class="perfil">
                <a href="/perfil">PERFIL</a>
                <ul>
                    <li><a href="/perfil">Ver Perfil</a></li>
                    <li><a href="/todosfavoritos">Favoritos</a></li>
                    <li><a href="/logout">SALIR</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<!--CUERPO DE LA PAGINA DENTRO DEL MAIN ACA VAN COLUMNAS / METODOS GET-->
<main class="main">
    <div class="grid-container">
        <div class="lista-de-compras">
            <h3>LISTA DE COMPRAS</h3>
            <a href="/listacompra/nuevo">AGREGAR</a>
            <div th:if="${listas.size() != 0 && listas != null }"
                 th:each="lista : ${listas}"
                 th:object="${lista}">
                <h2 th:text="*{fechaAgregado}"></h2>
                <h2 th:text="*{nombre}"></h2>
                <p th:text="*{lista}"></p>
            </div>
        </div>
        <div id="lista-de-proveedores" class="">
            <h3>PROVEEDORES</h3>
            <a href="/proveedor/nuevo">AGREGAR</a>
            <div th:if="${proveedores.size() != 0 && proveedores != null }"
                 th:each="proveedor : ${proveedores}"
                 th:object="${proveedor}">
                <h3 th:text="*{nombre}"></h3>
                <p th:text="'Direccion: '+*{direccion}"></p>

                <p th:text="'Telefono: '+*{telefono}"></p>
            </div>
        </div>
        <div id="lista-de-recetas" class="">
            <h3>RECETAS</h3>
            <a href="/receta/nuevo">AGREGAR</a>
            <div th:if="${recetas.size() != 0 && recetas != null }"
                 th:each="receta : ${recetas}"
                 th:object="${receta}">

                <h3 th:text="*{nombre}"></h3>
                <img src="/img/not-found.jpg">
                <p th:text="*{descripcion}"></p>
            </div>
        </div>
    </div>



</main>

<!--PIE DE PAGINA FUERA DEL MAIN-->
<footer class="footer">
    <div>
        <p align="center">Copyright HUEVO FRITO</p>
    </div>
</footer>


</body>

</html>