<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                    <link rel="stylesheet" href="/css/styleNAVFOOTER.css">
                        </head>

                        <body>
 <header class="encabezado">
        <nav>
            <div><img src="/img/logotipo.png" alt=""></div>
            <ul>
                <li><a href="/">INICIO</a></li> 
                <li><a href="/">VOLVER</a></li>    
            </ul>
        </nav> 
    </header> 
                                           
                                          
                                            <body>
                                                 <main class="main">
                                                <div class="wrap">
                                                    <div class="store-wrapper">
                                                        <div class="category_list">
                                                            <b><h2>AGREGAR RECETA</h2></b>
                                                        </div>
                                                        <section class="products-list">
                                                            <div class="product-item" category="receta">
                                                                <div class="product-item" category="editar">

                                                                            <form action="../../form-result.php" target="_blank">
                                                                                <div class="product-item" category="editar">

                                                                                    <p><label>Nombre<input type="text" name="nombre"></label></p>
                                                                                    <p><label>Ingredientes<input type="text" name="ingredientes"></label></p>
                                                                                    <p><label>Tiempo<input type="text" name="tiempo"></label></p>
                                                                                    <p><label>Porciones<input type="text" name="porciones"></label></p>
                                                                                    <p><label>Descripcion<input type="text" name="porciones"></label></p>
                                                                                    <p><label>Categoria<input type="text" name="porciones"></label></p> 
                                                                                 
                                                                                    <input type="submit" value="Guardar">
                                                                                      </main>


                                                                                        <footer class="footer">
                                                                                            <div class="container">
                                                                                                <p>Pagina diseñada por Huevo</p>
                                                                                            </div>

                                                                                        </footer> 
                                                                                        <div th:replace="fragmentos/libs :: #libs"></div>

                                                                                        <div th:replace="fragmentos/libs :: #libs"></div>

                                                                                        </body>
                                                                                        </html>