<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: #head"></head>
<body>

<!-- CREAN EL ELEMENTO-->
<header th:replace="fragmentos/header :: header">
</header>


<!-- CONTENIDO -->
<form action="/proveedor/editar" method="post" >

    <input class="form-control" type="text" placeholder="nombre" aria-label="default input example">
    <input class="form-control" type="text" placeholder="direccion" aria-label="default input example">
    <input class="form-control" type="number" placeholder="telefono" aria-label="default input example">
</form>

<!-- END CONTENIDO-->

<footer th:replace="fragmentos/footer :: #footer"></footer>
<div th:replace="fragmentos/libs :: #libs"></div>
</body>
</html>