<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styleNAVFOOTER.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/stylelista.css">

   <!-- <link rel="stylesheet" href="/src/main/resources/static/css/stylelista.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styleNAVFOOTER.css">-->


</head>

<body>


    <header class="encabezado">
        <nav>
            <div>
                <img src="/img/logotipo.png">
            </div>

            <ul>
                <li><a href="/inicio">INICIO</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">

        <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <!--    th:each == foreach (Proveedor x : proveedores)-->
                <tr th:each="proveedor : ${proveedores}">
                    <td th:text="${proveedor.nombre}"></td>
                    <td th:text="${proveedor.direccion}"></td>
                    <td th:text="${proveedor.telefono}"></td>
                    <td>
                        <form action="/proveedor/lista" method="post">
                            <button name="id" th:value="${proveedor.id}">Delete</button>
                        </form>
                        <form action="/proveedor/editar" method="get">
                            <button name="id" th:value="${proveedor.id}">Edit</button>
                        </form>
                        <form action="/proveedor/favorito" method="get">
                            <button name="id" th:value="${proveedor.id}">Favorito</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

    <footer class="footer">
        <div>
            <p align="center">Copyright HUEVO FRITO</p>
        </div>
    </footer>

    <div th:replace="fragmentos/libs :: #libs"></div>
</body>
</html>