<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="/css/styleNAVFOOTER.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylenuevo.css">  -->

    <link rel="stylesheet" href="/src/main/resources/static/css/stylenuevo.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styleNAVFOOTER.css">


</head>

<body>

    <header class="encabezado">
        <nav>
            <div><img src="/img/logotipo.png"></div>
            <ul>
                <li><a href="/inicio">INICIO</a></li>

            </ul>
        </nav>
    </header>


    <!--      Llamamos al objeto del controlador ProveedorController    -->
    <main class="main">
        <form action="/proveedor/nuevo" method="post" th:object="${proveedor}">
            <fieldset class="marcoform">

                <h3>AGREGAR PROVEEDOR</h3>
                <p>
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" th:field="*{nombre}" />
                </p>
                <p>
                    <label>Direccion</label>
                    <input type="text" class="form-control" name="direccion" th:field="*{direccion}" />
                </p>
                <p>
                    <label>Telefono</label>
                    <input type="number" class="form-control" name="telefono" th:field="*{telefono}" />
                </p>

                <aside class="bd-sidebar">
                    <button type="submit" class="btn btn-secondary btn-lg">Guardar</button>


                    <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
                </aside>
            </fieldset>
        </form>
    </main>


    <footer class="footer">
        <div>
            <p align="center">Copyright HUEVO FRITO</p>
        </div>
    </footer>

    <div th:replace="fragmentos/libs :: #libs"></div>
</body>

</html>