<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: #head"></head>
<body>
    <form action="/producto/nuevo" method="post" th:object="${producto}">
            <label>Nombre</label>
            <!--    th:field == los atributos del objeto -->
            <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
            <label>Precio</label>
            <input type="number" class="form-control" name="precio" th:field="*{precio}"/>
            <label>Cantidad</label>
            <input type="number" class="form-control" name="cantidad" th:field="*{cantidad}"/>
            <label>Unidad</label>
            <input type="text" class="form-control" name="unidad" th:field="*{unidad}"/>
            <label>Stock</label>
            <input type="number" class="form-control" name="stock" th:field="*{stock}"/>
            <br/>
            <button type="submit" class="btn btn-primary">Ingresar Producto</button>
            <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
        </form>

<footer th:replace="fragmentos/footer :: #footer"></footer>
<div th:replace="fragmentos/libs :: #libs"></div>
</body>
</html>