<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styleNAVFOOTER.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylenuevo.css">


    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/stylenuevo.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styleNAVFOOTER.css"> -->



</head>


<body>
    <header class="encabezado">
        <nav>
            <div><img src="/img/logotipo.png"></div>
            <ul>
                <li><a href="/panel">INICIO</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <fieldset class="marcoform">
            <form method="post" th:object="${producto}" action="/producto/nuevo">


                <h3>AGREGAR PRODUCTO</h3>

                <p><label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" th:field="*{nombre}" />
                </p>
                <p><label>Precio</label>
                    <input type="number" class="form-control" name="precio" th:field="*{precio}" />
                </p>
                <p><label>Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" th:field="*{cantidad}" />
                </p>
                <label>Unidad</label>
                <input type="text" class="form-control" name="unidad" th:field="*{unidad}" />

                <p><label>Stock</label>
                    <input type="number" class="form-control" name="stock" th:field="*{stock}" />
                </p>
                <aside class="bd-sidebar">
                    <button type="submit" class="btn btn-primary">Ingresar Producto</button>
                    <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
                </aside>
            </form>
        </fieldset>
    </main>

    <footer class="footer">
        <div>
            <p align="center">Copyright HUEVO FRITO</p>
        </div>
    </footer>

    <div th:replace="fragmentos/libs :: #libs"></div>
</body>

</html>