.error {
    width: content-box;
    height: 25rem;
    background-image: url("https://image.freepik.com/free-vector/seamless-background-with-various-sketch-cheeses-spices-garlic-pepper-hand-drawn-illustration_257845-1770.jpg");
    background-size: 10rem;
    background-repeat: repeat-x, repeat-y;
}

.background-login {
    height: 665px;
    background-image: url("https://image.freepik.com/free-vector/seamless-background-with-various-sketch-cheeses-spices-garlic-pepper-hand-drawn-illustration_257845-1770.jpg");
    background-size: 10rem;
}

.background-index {
    height: 665px;
    background-image: url("https://image.freepik.com/free-vector/seamless-background-with-various-sketch-cheeses-spices-garlic-pepper-hand-drawn-illustration_257845-1770.jpg");
    background-size: 10rem;
}

.background-registro {
    height: 665px;
    background-image: url("https://image.freepik.com/free-vector/seamless-background-with-various-sketch-cheeses-spices-garlic-pepper-hand-drawn-illustration_257845-1770.jpg");
    background-size: 10rem;
}

.background-inicio {
    height: 665px;
    background-image: url("https://image.freepik.com/free-vector/seamless-background-with-various-sketch-cheeses-spices-garlic-pepper-hand-drawn-illustration_257845-1770.jpg");
    background-size: 10rem;
}




