body{
    background-color: #EAB328;
}

.textinicial h1{
    font-family: 'Franklin Gothic Medium';
    font-size: 42px;
    color: #2C747E;
    margin-left: 5%;
    margin-top: 5%;
}
.textinicial h2{
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    color: #000000; 
    margin-left: 5%;
    
}

.textinicial p{
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    color: #000000; 
    margin-left: 5%;
    margin-right: 50%;
}

.logoback{
    position: fixed;
    top: 300px;
    right: 100px;
    width: 10%;
        
}

.logoback img{
    width: 350px;
    height: 350px;
}