<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/main/resources/static/css/styleerror.css"> <!--BORRAR ESTA LINEA NETBEANS -->
    <link rel="stylesheet" href="/src/main/resources/static/css/styleNAVFOOTER.css"> <!--BORRAR ESTA LINEA NETBEANS-->
    <!-- <link rel="stylesheet" href="/css/styleNAVFOOTER.css"> DESCOMENTAR ESTA LINEA PARA QUE FUNCIONEN LAS VISTAS
    <link rel="stylesheet" href="/css/styleerror.css"> DESCOMENTAR ESTA LINEA PARA QUE FUNCIONEN LAS VISTAS -->
</head>


<body>
    <header class="encabezado">
        <nav>
            <div><img src="/src/main/resources/static/img/logotipo.png"></a></div>

            <ul>
                <li><a href="/">INICIO</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="huevo">
            <h1>UPS! PARECE QUE ALGO SE ROMPIÓ.</h1>
        </div>
        
        <div>
            <img src="/src/main/resources/static/img/eggquebrado.png" style='vertical-align: middle; float: right;'>
        </div>
    </main>


    <footer class="footer">
        <div>
            <p align="center">Copyright HUEVO FRITO</p>
        </div>
    </footer>
</body>

</html>