<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: #head"> </head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><h1>Ops! Ha ocurrido un error!</h1></a>
    </div>
</nav>
<header class="">
<!--<div class="container-fluid">-->
    <div class="error"></div>
<!--</div>-->
<!--            <h1 class="masthead-heading mb-0" th:text="${'ERROR ' +codigo}"></h1>-->
<!--            <h2 class="masthead-subheading mb-0" th:text="${mensaje == null ? 'ALGO SALIÓ MAL':mensaje}"></h2>-->
<!--            <a href="/" class="btn btn-primary btn-xl rounded-pill mt-5">Volver</a>-->

</header>
<footer th:replace="fragmentos/footer :: #footer"></footer>
<div th:replace="fragmentos/libs :: libs"></div>
</body>

</html>
