<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    

    <head th:replace="fragmentos/head :: #head"> </head>
    
    <body>
        <nav th:replace ="fragmentos/navbar :: Index"> </nav>   //VER BARRA NAVEGACION JUSTIFICADO DERECHA
        
        <h1 class="masthead-heading mb-0">TU PROPIO RECETARIO</h1>
        <p style="font-family:monospace"> Tu agenda de comida personalizada</p>

      
            
            
            
            
            
            
            
        
        <footer th:replace="fragmentos/footer :: #footer"></footer>
        <div th:replace="fragmentos/libs :: libs"></div>
    </body>
</html> 

