<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    

    <head th:replace="fragmentos/head :: #head"> </head>
    
    <title>TU PROPIO RECETARIO</title>
    
    
    <body>
             
        <nav th:replace ="fragmentos/navbar :: Index"> </nav>   <!--VER BARRA NAVEGACION JUSTIFICADO DERECHA-->
        
        <p style="font-family:monospace"> Tu agenda de comida personalizada</p>

      
            
            
            
            
            
            
            
        
        <footer th:replace="fragmentos/footer :: #footer"></footer>
        <div th:replace="fragmentos/libs :: libs"></div>
    </body>
</html> 

