<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
<head th:replace="fragmentos/head :: head"></head>
           <br>
           <p style="font-family:monospace"> INGRESA, COCINAMOS, Y COM.EMOS!</p>
           <br>
<body>

    <form action="/logincheck" method="POST">
        <p th:if="${error != null}" th:text="${error}"
           style="color:red; text-shadow: 1px 1px 2px white;"></p>
        <!--                        <p th:if="${logout != null}" th:text="${logout}" style="color:green"></p> -->

        
        <label>E-Mail</label>
        <input type="email" class="form-control" name="username"/>

        <label>Clave</label>
        <input type="password" class="form-control" name="password"/>

        <br/>
        <button type="submit" class="btn btn-primary">Ingresar</button>

    </form>


    <footer th:replace="fragmentos/footer :: #footer"></footer>
    <div th:replace="fragmentos/libs :: libs"></div>
</body>
</html>