<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
    En este caso se esta utilizando el nombre de head2 para referirse
    al mismo head que el index.html
-->
<head th:replace="fragmentos/head :: head"></head>
<body>
<form th:action="@{/registro}" th:object="${usuario}" method="POST" enctype="multipart/form-data">

    <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>

    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>

    <label>Apellido</label>
    <input type="text" class="form-control" name="apellido" th:field="*{apellido}"/>

    <label>E-Mail</label>
    <input type="email" class="form-control" name="mail" th:field="*{mail}"/>

    <label>Foto</label>
    <input type="file" class="form-control" name="archivo"/>


    <label>Clave</label>
    <input type="password" class="form-control" name="clave1" th:field="*{clave}"/>

    <label>Repetir Clave</label>
    <input type="password" class="form-control" name="clave2"/>

    <br/>
    <button type="submit" class="btn btn-primary">Registrarme</button>
</form>

<footer th:replace="fragmentos/footer :: #footer"></footer>
<div th:replace="fragmentos/libs :: libs"></div>
</body>
</html>