<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styleNAVFOOTER.css">
    <link rel="stylesheet" href="/css/styleperfil.css"> -->
    <link rel="stylesheet" href="/src/main/resources/static/css/styleperfil.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styleNAVFOOTER.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/stylenuevo.css">

</head>

<body>

    <header class="encabezado">
        <nav>
            <div><img src="/img/Logotipo.png" alt=""></div>
            <ul>
                <li><a href="/panel">INICIO</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">

        <fieldset class="marcoform">
            <h2>EDITAR PERFIL</h2>
            <div class="fotoperfil">
                <div class="position-relative d-inline-block col-2 col-md-12 mr-3 mr-md-0 flex-shrink-0"
                    style="z-index:4;">
                    <a class="tooltipped tooltipped-s d-block"
                        data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:50365339,&quot;target&quot;:&quot;EDIT_AVATAR&quot;,&quot;user_id&quot;:50365339,&quot;originating_url&quot;:&quot;https://github.com/Rockstonebb&quot;}}"
                        data-hydro-click-hmac="7c17386d39e3a68dbf375b38945c449eb954dddc2f6f66ce2fbb2bd7c447280e"
                        href="/src/main/resources/static/img/HUEVO.png"><img style="height:auto;" alt="" class="perfil"
                            src="/src/main/resources/static/img/HUEVO.png" width="260" height="260"></a>

                </div>

            </div>

            <form action="/panel/perfil" th:object="${usuario}" method="POST" enctype="multipart/form-data">
                <p th:if="${error != null}" th:text="${error}" style="color:red; text-shadow: 1px 1px 2px white;"></p>

                <label>
                    Nombre <span class="req"></span>
                </label>
                <input type="text" name="nombre" th:value="*{nombre}" th:field="*{nombre}" />

                <label>
                    Apellido <span class="req"></span>
                </label>
                <input type="text" name="apellido" th:value="*{apellido}" th:field="*{apellido}" />

                <label>
                    Email <span class="req"></span>
                </label>
                <input type="email" name="mail" th:value="*{mail}" th:field="*{mail}" />

                <label>
                    Contraseña <span class="req"></span>
                </label>
                <input type="password" name="clave1" th:field="*{clave}" />

                <label>
                    Repetir Contraseña <span class="req">*</span>
                </label>
                <input type="password" name="clave2" />

                <label>Foto</label>
                <input type="file" class="form-control" name="archivo" />

                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>

        </fieldset>
    </main>

    <!--PIE DE PAGINA FUERA DEL MAIN-->
    <footer class="footer">
        <div>
            <p align="center">Copyright HUEVO FRITO</p>
        </div>
    </footer>
    <div th:replace="fragmentos/libs :: libs"></div>
</body>

</html>