<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: #head"></head>
<body>

<div class="container">
    <form action="/ingrediente/nuevo" method="post" th:object="${ingrediente}">

        <label for="producto">Elegir el Producto</label>
        <select id="producto" th:field="*{producto}">
            <option th:each="mprod: ${productos}" th:value="${mprod}" th:text="${mprod.nombre}"></option>
        </select>

        <label for="cantidad">Ingrese la cantidad </label>
        <input  id="cantidad" type="number" placeholder="1.0" step="0.1" min="0" max="1000" th:field="*{cantidad}">

        <label for="unidades">Unidad</label>


    </form>
</div>



<footer th:replace="fragmentos/footer :: #footer"></footer>
<div th:replace="fragmentos/libs :: libs"></div>
</body>
</html>